---
import { type Page } from "astro";

import { getLangFromUrl, useTranslations } from "@/i18n/utils";

interface Props {
  page: Page;
}

const {
  currentPage,
  lastPage,
  url: { prev, next },
} = Astro.props.page;

const {lang} = getLangFromUrl(Astro.url);
const t = useTranslations(lang, "common");
---

<div>
  <nav class="grid grid-cols-3">
    <span class="flex justify-start">
      {
        prev ? (
          <a href={prev} rel="prev">
            {t("prev-page")}
          </a>
        ) : (
          <button class="cursor-auto disabled:opacity-50" disabled>
            {t("prev-page")}
          </button>
        )
      }
    </span>

    <span class="flex justify-center">
      <span class="text-center">
        {currentPage} of {lastPage}
      </span>
    </span>

    <span class="flex justify-end">
      {
        next ? (
          <a href={next} rel="next">
            {t("next-page")}
          </a>
        ) : (
          <button class="cursor-auto disabled:opacity-50 " disabled>
            {t("next-page")}
          </button>
        )
      }
    </span>
  </nav>
</div>
